<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ebis.adminbackend.dao.ARoleResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.ebis.adminbackend.po.ARoleResources" >
    <id column="roleresourceid" property="roleresourceid" jdbcType="VARCHAR" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR" />
    <result column="resourceid" property="resourceid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    roleresourceid, roleid, resourceid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ebis.adminbackend.po.ARoleResourcesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from a_role_resources
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from a_role_resources
    where roleresourceid = #{roleresourceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from a_role_resources
    where roleresourceid = #{roleresourceid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ebis.adminbackend.po.ARoleResourcesExample" >
    delete from a_role_resources
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ebis.adminbackend.po.ARoleResources" >
    insert into a_role_resources (roleresourceid, roleid, resourceid
      )
    values (#{roleresourceid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}, #{resourceid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ebis.adminbackend.po.ARoleResources" >
    insert into a_role_resources
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleresourceid != null" >
        roleresourceid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="resourceid != null" >
        resourceid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleresourceid != null" >
        #{roleresourceid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="resourceid != null" >
        #{resourceid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ebis.adminbackend.po.ARoleResourcesExample" resultType="java.lang.Integer" >
    select count(*) from a_role_resources
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update a_role_resources
    <set >
      <if test="record.roleresourceid != null" >
        roleresourceid = #{record.roleresourceid,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null" >
        roleid = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceid != null" >
        resourceid = #{record.resourceid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update a_role_resources
    set roleresourceid = #{record.roleresourceid,jdbcType=VARCHAR},
      roleid = #{record.roleid,jdbcType=VARCHAR},
      resourceid = #{record.resourceid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ebis.adminbackend.po.ARoleResources" >
    update a_role_resources
    <set >
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="resourceid != null" >
        resourceid = #{resourceid,jdbcType=VARCHAR},
      </if>
    </set>
    where roleresourceid = #{roleresourceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ebis.adminbackend.po.ARoleResources" >
    update a_role_resources
    set roleid = #{roleid,jdbcType=VARCHAR},
      resourceid = #{resourceid,jdbcType=VARCHAR}
    where roleresourceid = #{roleresourceid,jdbcType=VARCHAR}
  </update>
</mapper>